body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.operators{
    background-color: #ddd;
    border-color: #aaa;
}
.input{
    height: 50px;
    font-size: 25px;
    font-weight: bolder;
    margin: 3px;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
    width: 420px;
}
.calculator{
    width: 430px;
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    padding: 15px;
}
.numbers{
    background-color: #f9f9f9;
    border-color: #ddd;
}
.equal{
    height: 242px;
    background-color: #4d90fe;
    color: white;
}
.all{
    margin: 5px;
    font-size: 20px;
    width: 100px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    cursor: pointer;
}
