.main{
    width: 800px;
    height: 400px;
    position: relative;
    top: 150px;
    margin: 0 auto;
}
.same{
    position: absolute;
    width: 398px;
    height: 198px;
    border-style: solid;
    border-width: 2px;
}
.box1{
    border-color: goldenrod;
}
.box2{
    border-color: blue;
    right: 0px;
}
.box3{
    border-color: yellowgreen;
    bottom: 0;
}
.box4{
    border-color: palevioletred;
    bottom: 0;
    right: 0;
}
.box5{
    border-color: black;
    top: 104px;
    left: 201px;
}