table,th,td{
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
}
table{
    width: 800px;
}
td{
    width: 50px;
}
th{
    background-color: gray;
    color: rgb(69, 66, 66);
}
tr:nth-child(odd){
    background-color: gainsboro;
}