.gridcontainer{
    display: grid;
    grid-template-columns: 60% 40%;
    max-width: 80%;
    text-align: left;
}

hr{
    border-color: gainsboro;
}
.box{
    max-width: 100%;
    height: 250px;
    background-color: gainsboro;
}
.serch{
    max-width: 80%;
    background-color: gainsboro;
    height: auto;
    padding-bottom: 20px;
    padding-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 5px;
}
.blogtxt{
    text-align: left;
    margin-left: 13px;
}
.sechbox{
    width: 90%;
}
.txtbox{
    display: flex;
    justify-content: space-between;
    color: rgb(0, 136, 255);
    padding: 0px 12px 20px 12px;
}
.cont{
    text-align: left;
    margin-top: 20px;
    max-width: 80%;
    background-color: gainsboro;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 5px;
}
.last{
    padding: 0px 10px 10px 10px;
}
.inlasy{
    padding: 10px;
}
img{
    width: 100%;
    height: auto;
}
.p{
    color: gray;
}

@media (max-width: 767px) {
    .gridcontainer{
        grid-template-columns: 100%;
    }
    .cont{
        max-width: 100%;
    }
    .serch{
        max-width: 100%;
    }
}